@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
  max-width: 1480px;
  margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
   
    height: 72px;
    align-items: center;

}
:root{
    --red:red;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}
button{
    all: unset;
    padding: 6px 16px;
    background:var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}
.hero{
    display: flex;
    align-items: center;
    height: 90vh;
}
.hero h1{
   font-weight: 800;
   line-height: 102px;
   font-size: 108px;
}
.hero p{
    font-weight: 600;
    color: gray;

 }
 .hero-btn{
    display: flex;
    gap: 40px;
 }

 .secondary-btn{
    background: transparent;
    color: gray;
    border: 1px solid gray;
 }

 .shopping div{
    padding-top: 10px;
 }